<svg class="wordmark" version="1.1"
     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
     x="0px" y="0px" width="429px" height="50px" viewBox="0 0 429 100" enable-background="new 0 0 429 100" xml:space="preserve">
  <defs>
  </defs>
  <path class="letter" d="M18.6,85.6h25.7V100H0v-5.6l27.2-80.2H1.7V0h43.8v5.6L18.6,85.6z"/>
  <path class="letter" d="M97.9,85.6h25.7V100H79.3v-5.6l27.2-80.2H80.9V0h43.8v5.6L97.9,85.6z"/>
  <path class="letter" d="M177.2,85.6h25.7V100h-44.3v-5.6l27.2-80.2h-25.5V0h43.8v5.6L177.2,85.6z"/>
  <path class="letter" d="M241.7,100V0h15.9v100H241.7z"/>
  <path class="letter" d="M335.6,100l-16.8-45.3l-5.6-15.3V100h-14.4V0h14.1l15.6,45.8l5.1,15.5V0h14.3v100H335.6z"/>
  <path class="letter" d="M389,100V0H429v14.1h-24v27.6h16.7V55H405v30.5h24V100H389z"/>
</svg>

<div class="loading-message">
  <h2>Hold tight! Your zzzine is being created</h2>
</div>

<div class="site-credits">
  &copy;<%= Time.now.year %> ZZZINE<br>
  An experiment by <a href="http://twitter.com/coryetzkorn">@coryetzkorn</a> and <a href="https://github.com/elliottetzkorn">@elliottetzkorn</a> 
<script>
	
	
	setInterval(function(){ 
		jQuery.when(
    		jQuery.getJSON("tweets/<%= current_user.id %>")
		).done( function(json) {
    		console.log(json['status']);
		});
		

	}, 650);
</script>

<div class="loading">
  <div class="bar"></div>
  <div class="step step-1"><span>Analyzing Tweets</span></div>
  <div class="step step-2"><span>Matching GIFs</span></div>
  <div class="step step-3"><span>Done!</span></div>
</div>

<a class="btn-large" href="/users/auth/twitter">View Zzzine</a>

<script>
/*
  setInterval(function(){ 
    jQuery.when(
        jQuery.getJSON("tweets/<%= current_user.id %>")
    ).done( function(json) {
        console.log(json['status']);
    });
    

  }, 300);
*/
</script>
