/* ---------------------------------------------

ADMINISTRATIVE VIEWS & MODULES

--------------------------------------------- */

/*  Admin Modules
--------------------------------------------- */
.wordmark {
  display: block;
  margin: 0 auto;
}
.site-credits {
  margin-top: 40px;
  font-size: 12px;
  @include font-base-bold;
  text-transform: uppercase;
  line-height: 2;
  a {
    color: #A8A8A8;
    &:hover {
      color: #000;
    } 
  }
}
.btn-large {
  @include font-base-bold;
  display: block;
  width: 240px;
  padding: 1em;
  margin: 0 auto;
  background: #000;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    color: #fff;
    background: #000 !important;
  }
  &.btn-disabled {
    background: #ccc;
    &:hover {
      background: #ccc !important;
    }
  }
}

/* Admin Pages
--------------------------------------------- */
@keyframes pulse {
  0%   {transform: scale(1); color: #CCC;}
  50%  {transform: scale(1.15); color: #000;}
  100% {transform: scale(1); color: #CCC;}
}

.tweets,
.sessions {
  .wrapper {
    padding: 30px;
    @include font-base;
    text-align: center;
  }
  .wordmark {
    margin-top: 20px;
  }
  h2 {
    @include font-base-bold;
    font-size: 20px;
    line-height: 1.4;
  }
  .loading-message {
    margin: 40px 0;
  }
  .loading {
    height: 250px;
    width: 200px;
    position: relative;
    margin: 40px auto;
    .bar {
      width: 2px;
      background: #eaeaea;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -1px;
      height: 100%;
      z-index: 1;
      transition: height 500ms ease-out;
    }
    .progress {
      z-index: 2;
      background: #000;
      height: 0;
    }
    .step {
      @include font-base-bold;
      display: block;
      position: absolute;
      width: 100%;
      z-index: 3;
      text-transform: uppercase;
      font-size: 12px;
      padding: 10px;
      height: 32px;
      background: #fff;
      color: #ccc;
      text-transform: uppercase;
      > span {
        display: block;
      }
      &.complete {
        color: #000;
      }
      &.current {
        > span {
          animation: pulse 1000ms ease-in-out infinite;
        }
      }
    }
    .step-1 {
      top: 0;
    }
    .step-2 {
      top: 50%;
      margin-top: -16px;
    }
    .step-3 {
      bottom: 0;
    }
  }
  .ready-btn {
    display: none;
  }
}

.tweets-index {
  .wrapper {
    display: table;
    width: 100%;
    min-height: 100%;
  }
  .table-cell-v-align {
    vertical-align: middle;
    display: table-cell;
  }
}

/* Theme Picker
=======
/* Admin Toolbar
>>>>>>> 54bf91e... Editor
--------------------------------------------- */
.view.logged-in .theme {
  padding-top: 36px;
}
.admin-bar {
  position: fixed;
  z-index: 100;
  width: 100%;
  color: #ccc;
  @include font-base-bold;
  font-size: 12px;
  text-transform: uppercase;
  background: #000;
  overflow: hidden;
  .action {
    display: block;
    height: 36px;
    padding: 12px 20px;
    color: #ccc;
    text-decoration: none;
    &.left {
      float: left;
    }
    &.right {
      float: right;
    }
    &:hover {
      color: #000;
      background: #fff;
    }
  }
  #cancel {
    display: none;
  }
  .editable {
    display: none;
    clear: both;
    border-top: 1px solid #fff;
    padding: 20px;
    .theme-option {
      width: 50%;
      float: left;
      margin-bottom: 20px;
    }
    label {
      display: block;
      margin-bottom: 5px;
      color: #5b5b5b;
    }
    input {
      @include font-base;
      width: 100%;
      color: #fff;
      background: transparent;
      outline: none;
      border: 0;
      font-size: 20px;
    }
  }
}