/* ---------------------------------------------

ADMINISTRATIVE VIEWS & MODULES

--------------------------------------------- */


.wordmark {
  display: block;
  margin: 40px auto;
}
.mini-wordmark {
  width: 200px;
}
.site-credits {
  font-size: 12px;
  @include font-base-bold;
  text-transform: uppercase;
  line-height: 2;
}


/* Home Tweets
--------------------------------------------- */
.tweets,
.sessions {
  border: 10px solid #000;
  padding: 5%;
  @include font-base;
  text-align: center;
  a {
    color: #A8A8A8;
    &:hover {
      color: #000;
    } 
  }
  h2 {
    @include font-base-bold;
    font-size: 20px;
    margin: 30px 0;
  }
  .btn-large {
    @include font-base-bold;
    display: block;
    width: 240px;
    padding: 1em;
    margin: 0 auto;
    background: #000;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      color: #fff;
      background: #000 !important;
    }
  }
  #create-form{
    margin: 30px 0;
    input {
      width: 100%;
      padding: 20px;
      @include font-base;
      font-size: 40px;
      text-align: center;
      border: 10px solid #000;
      outline: none;
    }
    .title {

    }
  }
  .theme-option {
    border: 10px solid #000;
    margin-bottom: 30px;
    img {
      display: block;
    }
  }
}

/* Theme Picker
--------------------------------------------- */
.theme {
  .theme-picker {
    background: #000;
    color: #fff;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    .theme-option {
      float: left;
      width: percentage(1/6);
      text-align: center;
    }
  }
}