/* ---------------------------------------------

LAYOUT
Define typography and grids here.

--------------------------------------------- */

/* GLOBAL
--------------------------------------------- */
body {	
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	cursor: default;
}
em {
	font-style: italic;
}
strong {
	font-weight: 700;
}
img,
embed,
object,
video,
svg {
	max-width: 100%;
}
a {
	outline: none;
}

/* Layout
--------------------------------------------- */

body {
  font-size: 12px;
  @include font-base;
}
.inner {
  max-width: 1100px;
  margin: 0 auto;
}