/* ---------------------------------------------

LAYOUT
Define typography and grids here.

--------------------------------------------- */

/* GLOBAL
--------------------------------------------- */
body {	
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	cursor: default;
}
em {
	font-style: italic;
}
strong {
	font-weight: 700;
}
img,
embed,
object,
video,
svg {
	max-width: 100%;
}
a {
	outline: none;
}

/* Layout
--------------------------------------------- */

body,
html {
  height: 100%;
}
.wrapper {
  min-height: 100%;
}
.inner {
  max-width: 1100px;
  margin: 0 auto;
}
.v-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.page-border {
  background: #000;
  padding: 10px;
}
body {
  background: #fff;
}